body{
  background-color: black;
  color: white;
  background-image: url(back.png);
}

p{
  font-weight: bold;
}
.heading{
  text-align: center;
}
.dashboard{
  display: flex;
  gap: 30px;
  text-align: center;
  padding-left: 390px;
  /* margin-left: 340px; */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.vision,
.vision2{
text-align: center;
}
.about{
  text-align: center;
  margin-top: 25px;
}
.vision2{
  margin-bottom: 60px;
}