body{
  background-color: black;
  color: white;
  background-image: url(back.png);
}

p{
  font-weight: bold;
}
.heading{
  text-align: center;
}
.dashboard{
  display: flex;
  gap: 30px;
  text-align: center;
  padding-left: 390px;
  /* margin-left: 340px; */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.faq{
  text-align: center;
  margin-top: 25px;
  }
 .QUESTIONS{
padding-left: 8px;
font-size:17px;
padding: 2px;
border: none;
border-radius: 8px;
display: inline-block;
margin-left: 560px;
} 
.footer{
  position: inherit;
}