body{
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  background-image: url(back.png);
}

.heading{
  text-align: center;
}
.dashboard{
  display: flex;
  gap: 30px;
  text-align: center;
  /* padding-left: 390px; */
  /* margin-left: 340px; */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}
.container{
  padding: 2rem;
}

.slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 01.75rem 3rem -0.75rem hsla(0, 0, 0, 0.31);
  border-radius: 0.5rem;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left:50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}


.slider-nav a:hover{
  opacity:1;
}
.preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 12px;
}
.first-house{
  width: 300px;
}
p{
  font-weight: bold;
}
.second{
  width: 300px;
  border-radius: 8px;
}
.HOME{
  /* margin-left: 23px; */
  margin-top: 25px;
  text-align: center;
}
.buy-btn{
  background-color: rgb(15, 96, 150);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  box-shadow: 5px 3px 0px rgba(0, 0, 0, 0.3);
}
.buy-btn:hover{
  opacity: 0.8;
}
.buy-btn:active{
  box-shadow: none;
  margin-bottom: 2px;
  margin-left: 3px;
  margin-top: 4px;

}
